global
    # log to stdout
    log         stdout format raw local0
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
  mode                    http
  log                     global
  option                  httplog
  option                  dontlognull
  option http-server-close
  option forwardfor       except 127.0.0.0/8
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000

frontend http
  mode http
  bind *:80
  # acl acl_admin_lan src 10.100.1.0/24
  # acl acl_employee_lan src 10.100.4.0/22
  acl acl_student_lan src 10.100.8.0/23
  # acl acl_guest_lan src 10.100.23.0/24
  acl acl_printing_name hdr(host) -i printing.ccs.local
  http-request redirect location http://http://ccs-studentprint.ccs.local:9163/client-setup/dns/unknown-os.html if acl_student_lan acl_printing_name
  http-request redirect location http://ccs-print.ccs.local:9163/client-setup/dns/unknown-os.html if acl_printing_name
